/* Write your CSS here */
.back {
  background-image: linear-gradient(to bottom, #fbc7d4, #9796f0);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.con {
  background-color: white;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  width: 950px;
}

.form {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #8b5cf6;
  border: none;
  outline: none;
  cursor: pointer;
  height: 30px;
  width: 80px;
  margin-top: 10px;
  border-radius: 10px;
}

.input1 {
  margin-top: 10px;
  height: 40px;
}

.title {
  margin-top: 20px;
  font-family: 'roboto';
}

.date {
  margin-top: 20px;
  font-family: 'roboto';
}

.div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.div1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button1 {
  background-color: transparent;
  border-radius: 20px;
  height: 30px;
  width: 70px;
  border-width: 2px;
  border-style: solid;
  border-color: grey;
  color: grey;
  margin-top: 30px;
}

.list2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
